<h1>Seeks#index</h1>
<% @seeks.each do |seek| %>
<%= link_to seek.toy.name, seek, :class => "link_to_buttons" %>
<%= link_to seek.organization.username, seek.organization, :class => "link_to_buttons" %>
<% end %>
