// Place all the styles related to the Toys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.toy_index_box {
	height: 150px;
	width: 150px;
	// background-color: red;
	display: inline-block;
	text-align: center;
	padding: 20px;
	margin: 20px;
}

// .toy_link_to_img {
// 	display: block;
// }

.display_buttons {
	font-family: 'Gloria Hallelujah', cursive;
	color: #E94E77;
	text-decoration:none;
	transition: .8s;
	display: block;
}

.display_buttons:hover{
	text-decoration: underline;
	color: #B43CAA;
}

.toy_link_buttons {
	font-family: 'Gloria Hallelujah', cursive;
	color: #E94E77;
	text-decoration:none;
	transition: .8s;
	display: block;
	text-align: center;
}

.toy_link_buttons:hover{
	text-decoration: underline;
	color: #B43CAA;
}

.headline {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #E94E77;
}

.toy_img {
	border-radius: 18px;
	margin-left: 10px;
}

.toy_info {
	position: relative;
	left: 35%;
	width: 400px;
	word-wrap: break-word;
	// left: 425px;
	top: -280px;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	color: #E94E77;
}

.toy_donate_area {
	text-align: center;
	position: relative;
	left: 30px;
	top: -200px;
	font-family: 'Gloria Hallelujah', cursive;
}